body, h1, h2, h3, h4, p, ul, ol[class], li, figure, figcaption, blockquote, dl, dd, html {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  font-family: 'Arial';
  transition: 1s;
  font-size: 50px;
}

body {
  width: 100%;
  height: 100%;
  margin: 1rem auto 0;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.dNone {
  display: none;
}

.boxShadow {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #0005;
  text-align: center;
}

.settingBox {
  margin: 2rem auto;
  width: 10rem;
  height: 10rem;
  background-color: #fff;
  border-radius: 10%;
}

.setVars {
  display: flex;
  justify-content: space-around;
}

.setVar {
  width: 2rem;
  height: 2rem;
  border: solid black;
  box-sizing: border-box;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}

#themeLight {
  background-color: lightblue;
}

#themeDark {
  background-color: #324;
}

#themeGreen {
  background-color: #2e8b57;
}

.setVarLvl {
  transition: 0.3s;
  box-sizing: border-box;
  padding: 0.3rem;
}

.setVarLvl:hover {
  background-color: #ddd;
}

.header {
  justify-content: center;
  display: flex;
}

.headerIcon {
  width: 1rem;
  height: 1rem;
  /* background-color: #888; */
  margin: 0.2rem;
  cursor: pointer;
  transition: 0.5s;
  background-position: center;
  background-size: contain;
  border-radius: 30%;
}
.headerIcon:hover {
  background-color: #666;
}
#setting {
  background-image: url('src/set.svg');
}
#restart {
  background-image: url('src/restart.svg');
}
#statistic {
  background-image: url('src/list2.svg');
}

#minefield {
  margin: 0 auto;
  padding: 0.1rem;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.2rem;
  box-sizing: border-box;
}

.minefield-10 {
  width: 8.82rem;
}

.minefield-15 {
  width: 13.13rem;
}

.minefield-25 {
  width: 13.73rem;
}

.minefield-25 .cell {
  width: 0.5rem;
  height: 0.5rem;
  margin: 0.02rem;
}

.cell {
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.03rem;
  border-radius: 0.1rem;
  font-size: 0.6rem;
  font-weight: bold;
  padding: 0.09rem;
  transition: 0.2s;
  cursor: crosshair;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.active {
  cursor: default;
}

.status {
  width: 10rem;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 0.3rem;
  font-size: 0.7rem;
  display: flex;
  cursor: default;
}

.statusBox {
  width: 2rem;
  height: 1rem;
  margin-top: 0;
  background-color: #fff;
  border-radius: 0.2rem;
  box-sizing: border-box;
}

.themeDark {
  background-color: #324;
}

.themeDark #minefield {
  background-color: #999;
}
.themeDark .headerIcon:hover {
  background-color: #777;
}
.themeDark #minefield .cell {
  background-color: #537;
  color: #fff;
  box-shadow: #000 inset 0 0 0.1rem, #333 0.04rem 0.04rem 0.01rem;
}
.themeDark #minefield .cell:hover {
  background-color: #648;
}
.themeDark #minefield .active {
  background-color: #324;
  box-shadow: #999 inset 0 0 0.2rem;
}
.themeDark #minefield .active:hover {
  background-color: #324;
}
.themeDark .status {
  color: #fff;
}
.themeDark .status .statusBox {
  border: solid #648;
  color: #324;
}

.themeLight {
  background-color: lightblue;
}
.themeLight #minefield {
  background-color: #fff;
}
.themeLight .headerIcon:hover {
  background-color: #fff;
}
.themeLight #setting {
  background-image: url('src/set-light.svg');
}
.themeLight #restart {
  background-image: url('src/restart-light.svg');
}
.themeLight #statistic {
  background-image: url('src/list2-light.svg');
}
.themeLight #minefield .cell {
  background-color: #ccc;
  color: #777;
  box-shadow: gray inset 0 0 0.1rem, gray 0.04rem 0.04rem 0.01rem;
}
.themeLight #minefield .cell:hover {
  background-color: #ddd;
}
.themeLight #minefield .active {
  background-color: lightblue;
  box-shadow: #fff inset 0 0 0.1rem;
}
.themeLight #minefield .active:hover {
  background-color: lightblue;
}
.themeLight .status {
  color: #777;
}

.themeLight .status .statusBox {
  border: solid #aaa;
  color: #777;
}

.themeGreen {
  background-color: #2e8b57;
}
.themeGreen .headerIcon:hover {
  background-color: #052;
}
.themeGreen #minefield {
  background-color: #052;
}

.themeGreen #minefield .cell {
  background-color: #fff;
  color: #fff;
  box-shadow: #000 inset -0.02rem -0.02rem 0.1rem, #474 0.04rem 0.04rem 0.01rem;
}

.themeGreen #minefield .cell:hover {
  background-color: #dfd;
}

.themeGreen #minefield .active {
  background-color: #35a164;
  box-shadow: #052 inset 0 0 0.2rem;
}

.themeGreen #minefield .active:hover {
  background-color: #35a164;
}

.themeGreen .status {
  color: #fff;
}

.themeGreen .status .statusBox {
  border: solid darkgreen;
  color: #052;
}

.cellBomb.active {
/* .cellBomb { */
  background-color: #f88 !important;
  background-image: url('src/bomb.svg');
}
.cellRightClick {
  background-size: 0.6rem !important;
  background-color: #ddd !important;
  background-image: url('src/flag.svg');
}
.minefield-25 .cellRightClick {
  background-size: 0.4rem !important;
}
.minefield-25 .cell {
  font-size: 0.3rem;
}
.active.cellClose-1:after {
  content: '1';
  color: #66f;
  text-shadow: #000 0.05rem 0 0.05rem;
}
.active.cellClose-2:after {
  content: '2';
  color: green;
  text-shadow: #000 0.05rem 0 0.05rem;
}
.active.cellClose-3:after {
  content: '3';
  color: red;
  text-shadow: #000 0.05rem 0 0.05rem;
}
.active.cellClose-4:after {
  content: '4';
  color: brown;
  text-shadow: #000 0.05rem 0 0.05rem;
}
.active.cellClose-5:after {
  content: '5';
  color: black;
  text-shadow: #fff 0 0 0.1rem;
}
.active.cellClose-6:after {
  content: '6';
}
.active.cellClose-7:after {
  content: '7';
}
.active.cellClose-8:after {
  content: '8';
}
.active.cellBomb:after {
  content: '';
}
.setBombBox {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
#btnSetBomb {
  border-radius: 0.2rem;
  padding: 0.1rem 0.3rem;
  box-sizing: border-box;
  border: 0.02rem solid #000;
  background-color: #ddd;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: #000 inset 0 0 0.1rem, #888 0.04rem 0.04rem 0.1rem;
}
#btnSetBomb:hover {
  background-color: #666;
  color: #fff;
  box-shadow: #000 inset 0 0 0.15rem, #677 0.04rem 0.04rem 0.1rem;
}
.inputBomb {
  width: 2.5rem;
  padding: 0.1rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  text-align: center;
  box-sizing: border-box;
  border: 0.02rem solid #333;
  box-shadow: #677 inset 0 0 0.1rem;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 40px;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 30px;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 20px;
  }
}
