body, h1, h2, h3, h4, p, ul, ol[class], li, figure, figcaption, blockquote, dl, dd, html {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  font-family: 'Arial';
  transition: 1s;
  font-size: 50px;
}

body {
  width: 100%;
  height: 100%;
  margin: 1rem auto 0;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.dNone {
  display: none;
}

.settingBoxShadow {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #0005;
  text-align: center;
}

.settingBox {
  margin: 2rem auto;
  width: 10rem;
  height: 10rem;
  background-color: #fff;
}

.setVars {
  display: flex;
  justify-content: space-around;
}

.setVar {
  width: 2rem;
  height: 2rem;
  border: solid black;
  box-sizing: border-box;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}

#themeLight {
  background-color: lightblue;
}

#themeDark {
  background-color: #324;
}

#themeGreen {
  background-color: #2e8b57;
}

.setVarLvl {
  transition: 0.3s;
  box-sizing: border-box;
  padding: 0.3rem;
}

.setVarLvl:hover {
  background-color: #ddd;
}

.header {
  justify-content: center;
  display: flex;
}

.headerIcon {
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  margin: 0.2rem;
  cursor: pointer;
}

#minefield {
  margin: 0 auto;
  padding: 0.1rem;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.2rem;
  box-sizing: border-box;
}

.minefield-10 {
  width: 8.82rem;
}

.minefield-15 {
  width: 13.13rem;
}

.minefield-25 {
  width: 13.73rem;
}

.minefield-25 .cell {
  width: 0.5rem;
  height: 0.5rem;
  margin: 0.02rem;
}

.cell {
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.03rem;
  border-radius: 0.1rem;
  font-size: 0.6rem;
  font-weight: bold;
  padding: 0.09rem;
  transition: 0.2s;
  cursor: crosshair;
}

.active {
  cursor: default;
}

.status {
  width: 10rem;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 0.3rem;
  font-size: 0.7rem;
  display: flex;
  cursor: default;
}

.statusBox {
  width: 2rem;
  height: 1rem;
  margin-top: 0;
  background-color: #fff;
  border-radius: 0.2rem;
  box-sizing: border-box;
}

.themeDark {
  background-color: #324;
}

.themeDark #minefield {
  background-color: #999;
}

.themeDark #minefield .cell {
  background-color: #537;
  color: #fff;
  box-shadow: #000 inset 0 0 0.1rem, #333 0.04rem 0.04rem 0.01rem;
}

.themeDark #minefield .cell:hover {
  background-color: #648;
}

.themeDark #minefield .active {
  background-color: #324;
  box-shadow: #999 inset 0 0 0.2rem;
}

.themeDark #minefield .active:hover {
  background-color: #324;
}

.themeDark .status {
  color: #fff;
}

.themeDark .status .statusBox {
  border: solid #648;
  color: #324;
}

.themeLight {
  background-color: lightblue;
}

.themeLight #minefield {
  background-color: #fff;
}

.themeLight #minefield .cell {
  background-color: #ccc;
  color: #777;
  box-shadow: gray inset 0 0 0.1rem, gray 0.04rem 0.04rem 0.01rem;
}

.themeLight #minefield .cell:hover {
  background-color: #ddd;
}

.themeLight #minefield .active {
  background-color: lightblue;
  box-shadow: #fff inset 0 0 0.1rem;
}

.themeLight #minefield .active:hover {
  background-color: lightblue;
}

.themeLight .status {
  color: #777;
}

.themeLight .status .statusBox {
  border: solid #aaa;
  color: #777;
}

.themeGreen {
  background-color: #2e8b57;
}

.themeGreen #minefield {
  background-color: #052;
}

.themeGreen #minefield .cell {
  background-color: #fff;
  color: #fff;
  box-shadow: #000 inset -0.02rem -0.02rem 0.1rem, #474 0.04rem 0.04rem 0.01rem;
}

.themeGreen #minefield .cell:hover {
  background-color: #dfd;
}

.themeGreen #minefield .active {
  background-color: #35a164;
  box-shadow: #052 inset 0 0 0.2rem;
}

.themeGreen #minefield .active:hover {
  background-color: #35a164;
}

.themeGreen .status {
  color: #fff;
}

.themeGreen .status .statusBox {
  border: solid darkgreen;
  color: #052;
}
